/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    background-color: #fafafa;
  }
}
